<section class="container container-md">
  <div class="row">
    <div class="col sm-6">
      <app-task-search />
      <app-task-add />
      <hr class="margin" />
      @if (taskAction().action === "edit") {
        <app-task-edit [task]="taskAction().task" (editedTask)="onEditedTask()" />
      }
    </div>
    <div class="col sm-6">
      @if (todolist().length > 0) {
        <h4 class="margin-small">Remember to</h4>
        @for (todo of todolist(); track todo) {
          <div class="border padding-small margin-small">
            @if (taskAction().action === "details" && taskAction().task.id === todo.id) {
              <p>Priority: P{{ todo.priority }}</p>
              <p>Nº: {{ todo.id }}</p>
              <p>Content: {{ todo.content }}</p>
              <p>Created at: {{ todo.createdAt | date: "dd/MM/yy, h:mm" }}</p>
              <p>
                Go to task on app: <a [href]="todo.url">{{ todo.url }}</a>
              </p>
            } @else {
              <p>{{ todo.content }}</p>
            }
            <div class="row">
              @if (taskAction().task.id === todo.id) {
                <button (click)="hideDetails()" class="paper-btn btn-small">
                  Show Less
                </button>
              } @else {
                <button
                  (click)="showMoreDetails(todo)"
                  class="paper-btn btn-small"
                >
                  Show More
                </button>
              }
              <button class="paper-btn btn-small" (click)="editTask(todo)">
                Live Edit
              </button>
              <button
                class="paper-btn btn-small"
                (click)="completeTask(todo.id)"
              >
                Done
              </button>
            </div>
          </div>
        }
      } @else if (todolist().length === 0) {
        <p>No Tasks found!</p>
      } @else {
        <p>Loading...</p>
      }
    </div>
  </div>
</section>
