
<section class="container container-xs">
  @if (todolist().length > 0) {
    <app-task-add/>
    <hr class="margin" />
    <h4 class="margin-small">Remember to</h4>
    @for (todo of todolist(); track id; let id = $index) {
      <div class="border padding-small margin-small">
        <p>{{ todo.content }}</p>
        <div class="row">
          <a
            [routerLink]="['/', 'details', todo.id]"
            class="paper-btn btn-small"
          >
            Details
          </a>
          <a [routerLink]="['/', 'edit', todo.id]" class="paper-btn btn-small">
            Edit
          </a>
          <button class="paper-btn btn-small" (click)="completeTask(id)">
            Done
          </button>
        </div>
      </div>
    }
  } @else {
    <p>Loading...</p>
  }
</section>
